tr:nth-child(odd) {
    background-color:lightblue;
}

td .dataHandlingButtons {
    
    margin-left: auto;
    margin-right: 15px;
}
li .dataHandlingButtons button{
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: black;
}